<footer>
    <div class="container">
        <div id="footer-contents" class="row">
            <div class="col-md-4">
                <h2 class="h4">What do you think?</h2>
            </div>
            <div class="col-md-4">
                <img class="footer-image" src="/img/envelope.svg">&nbsp;taxonomyproject@gmail.com
            </div>
            <div class="col-md-4">
                <img class="footer-image" src="/img/logo-twitter.svg"> @taxonomyproject
            </div>
        </div>
    </div>
</footer>
