---
layout: default
js: carousel
dimension: "dimension1"
---



<div class="hero hero-secondary">
  <div class="container">
    <div class="row">
        <div class="col-sm-2 col-width-auto">
            <div class="type-letter background-dimension1">{{ page.aspect1.letter }}</div><div class="type-letter background-dimension1">{{ page.aspect2.letter }}</div>
        </div>
        <div class="col-sm-8">
            <h1 class="no-padding-top">
                <!-- <div class="h5 text-uppercase">Orientations to</div> -->
                {{ page.name }}
            </h1>
        </div>
    </div>
  </div>
</div>
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 first-large">
                {{ page }}
            </div>
            <div class="col-sm-4">
                <h2 class="h3">Required Reading</h2>
                <div class="required-reading-item">
                    <h3 class="h4">How the taxonomy was born: research and inspiration on a road trip back home</h3>
                    <p>Posted May 4, 2016 by Emma Eisenberg</p>
                </div>
                <div class="required-reading-item">
                    <h3 class="h4">How the taxonomy was born: research and inspiration on a road trip back home</h3>
                    <p>Posted May 4, 2016 by Emma Eisenberg</p>
                </div>
                <a href="#">More from the blog</a>
            </div>
        </div>
    </div>
</section>
